
    table {
      border-spacing: 5px;
      width: 100%;
    }

    th,
    td {
      padding: 10px 20px;
      border-spacing: 10px;
      font-size: 85%;
      margin: 0px;
      text-align: center;
    }

    th,
    td {
      text-align: left;
      background-color: #faf6f7;
      border-top: 1px solid #f1f8fe;
      border-bottom: 1px solid #cbd2d8;
      border-right: 1px solid #cbd2d8;
    }

    tr.head th {
      color: #fff;
      background-color: #de6581;
      border-bottom: 2px solid #547ca0;
      border-right: 1px solid #749abe;
      border-top: 1px solid #90b4d6;
      text-align: center;
      text-shadow: -1px -1px 1px #666;
      letter-spacing: 0.25em;
    }

    td {
      text-shadow: 1px 1px 1px #fff;
    }

    tr.even td,
    tr.even th {
      background-color: #f5e8f3;
      /* #de6581  #f5e8f3*/
    }

    tr.head th:first-child {
      -webkit-border-top-left-radius: 5px;
      -moz-border-radius-topleft: 5px;
      border-top-left-radius: 5px;
    }

    tr.head th:last-child {
      -webkit-border-top-right-radius: 5px;
      -moz-border-radius-topright: 5px;
      border-top-right-radius: 5px;
    }
